/**
 * CUSTOM CSS
 *
 * Here you can add your custom CSS code.
 */


 .c-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
 }

 .c-clients li {
    margin: 0;
 }

 .c-clients img.mastercard-logo {
    max-height: 60px;
 }

 .spacer-bt-20 {
    margin-bottom: 20px;
 }

 .spacer-bt-10 {
    margin-bottom: 10px;
 }

 .view-more-btn {
    display: none;
}

.t-title__first-word {
    text-transform: uppercase;
}


.c-image-overlay img {
    border: 1px solid #b8b8b8;
}


.t-image-overlay {
    background: #252525;
}

.t-image-overlay * {
    color: #ececec;
}

.t-image-overlay__deco-line {
    color: #535353;
    background: #ececec;
}

 @media screen and (min-width: 1024px) {
    .view-more-btn {
        display: block;
    }
    
 }
 